.aboutUs-container{
    padding-left: 3rem;
    padding-right: 3rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.service-img{
    padding-bottom: 2rem;
}
img{
    width: 100%;
    height: auto;
}

.description{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #666666;

}
.title
{
    padding-bottom: 1rem;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;

}
.section {
    padding: 4rem 0 3rem 0;

}
.aboutUs{
    border-bottom: 1px solid black;
}
@media (min-width: 981px){
    .aboutUs-container {

    }
    .section{
        width: 80%;
        display: flex;
        flex-direction: row;
        margin: 0 auto ;
        align-items: flex-start;
        padding-bottom: 5rem;
        padding-top: 5rem;

    }
    img{
        width: 400px;
        height: 400px;
    }
    .wrapper{
        width: 70%;
        flex: 1;
    }
    .service-img, .aboutUs-img{
        flex: 1;
    }

    .description{
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        color: #666666;

    }
    .title
    {
        padding-bottom: 1rem;
        font-size: 44px;
        font-family: 'Open Sans', sans-serif;

    }
}

